cache:
  paths:
    - .tox
  key: "$CI_JOB_NAME-cache-2"

stages:
  - check
  - test
  - deploy

workflow:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS && $CI_PIPELINE_SOURCE == "push"
      when: never
    - if: "$CI_COMMIT_BRANCH"

.check:
  image: python:3.10-bullseye
  stage: check
  tags:
    - lint
    - internet

lint:
  extends: .check
  artifacts:
    when: on_failure
    paths:
      - flake8_output.txt
      - bandit_output.txt
    expire_in: 1 week
  before_script:
    - pip install bandit flake8
  script:
    # disable B101: test for use of assert
    - bandit --exclude="./tests,./integration_tests,./.tox,./.git" -r -f txt -s B101 -o bandit_output.txt .
    - flake8 --config=.flake8 --output-file=flake8_output.txt --tee

check_changelog:
  extends: .check
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - |
      (git diff-tree --name-only --no-commit-id "origin/${CI_MERGE_REQUEST_TARGET_BRANCH_NAME}" "${CI_COMMIT_SHA}" | grep "CHANGELOG.md") || \
        [[ "${CI_MERGE_REQUEST_LABELS}" =~ ^(.*,)*no_changelog(,.*)*$ ]] || \
        (echo "Please either update CHANGELOG.md file or add 'no_chagelog' label" && exit 1)

prepare_tests:
  extends: .check
  script:
    - python ci/prepare_tests.py
  artifacts:
    paths:
      - ci/tests.yml

tests:
  stage: test
  needs:
    - prepare_tests
  trigger:
    strategy: depend
    include:
      - artifact: ci/tests.yml
        job: prepare_tests

publish_on_pypi:
  image: python:3.10-slim-bullseye
  stage: deploy
  tags:
    - internet
  variables:
    TWINE_NON_INTERACTIVE: "true"
    TWINE_USERNAME: __token__
    TWINE_PASSWORD: ${PYPI_TOKEN}
  before_script:
    - apt update && apt install curl jq -y
    - pip install twine
  script:
    - ./publish.sh
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
