.vscode
.idea

# Indexes
Thumbs.db
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class
*.egg-info
.mypy_cache

# Test files
.pytest_cache
.tox

# Remove poetry.lock to run tests under different python versions
poetry.lock

# Remove Pipfile.lock to run tests under different python versions
Pipfile.lock


# Manifest and components
/idf_component*.yaml
/components
managed_components/
build/
dist/
sdkconfig
dependencies.lock

#Configs
.env

# Development experiments
notebooks
.ipynb_checkpoints
diagram.mdj


bandit_output.txt

# Coverage reports
.coverage
coverage.xml

fish.txt
zsh.txt
bash.txt

# Doc build artifacts
docs/**/_build/
docs/html_output/
