.vscode

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

*.egg-info

# Test files
.pytest_cache
.tox

# Remove Pipfile.lock to run tests under different python versions
Pipfile.lock

# Manifest and components
manifest.yaml
components.lock
managed_components
components
build