# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
      - id: check-yaml
        exclude: tests
      - id: check-added-large-files
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.4
    hooks:
      - id: bandit
        exclude: ^tests|integration_tests.*$
        args: ["-s", "B101"] # disable B101: test for use of assert
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.960
    hooks:
      - id: mypy
        additional_dependencies: ['types-six', 'types-requests', 'types-PyYAML<5.3']
  - repo: https://github.com/myint/unify
    rev: v0.5
    hooks:
      - id: unify
  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: "v0.32.0"
    hooks:
      - id: yapf
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/myint/eradicate/
    rev: v2.1.0
    hooks:
      - id: eradicate
