# Pipenv is only used for development

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
future = "*"
strictyaml = "*"
semantic-version = "*"

[dev-packages]
pytest = "*"
tox = "<=3.0.0"
bandit = "*"
"flake8-quotes" = "*"
pytest-cov = "*"
"flake8" = "*"
pylint = "*"
vcrpy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false
