# Pipenv is only used for development

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
future = "*"
strictyaml = "*"
semantic-version = "*"

[dev-packages]
pytest = "*"
tox = "<=3.0.0"
# Lock bandit to 1.5.1 due to https://github.com/PyCQA/bandit/issues/488
bandit = "==1.5.1"
"flake8-quotes" = "*"
pytest-cov = "*"
"flake8" = "*"
pylint = "*"
vcrpy = "*"
rope = "*"
yapf = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = false


