[tool.poetry]
name = "idf-component-manager"
version = "1.3.0-dev"
description = "Espressif IDF Component Manager"
authors = []
license = "Apache2"
readme = "README.md"
packages = [
    { include = "idf_component_manager" },
    { include = "idf_component_tools" },
]


[tool.poetry.dependencies]
cachecontrol = { version = '*', extras = ["filecache"] }
click = '*'
colorama = '*'
future = '*'
python = ">=3.7,<4.0"
pyyaml = "*"
requests = "*"
urllib3 = "<2"
requests-file = "*"
requests-toolbelt = "*"
schema = "*"
six = "*"
tqdm = '*'

[tool.poetry.dev-dependencies]
comment-parser = "*"
coverage = '*'
flake8 = '*'
flake8-quotes = '*'
jinja2 = "*"
jsonschema = "*"
mypy = { extras = ["python2"], version = '*' }
pexpect = "*"
pre-commit = '*'
pylint = "*"
pytest = '*'
pytest-cov = '*'
pytest-mock = '*'
pytest-rerunfailures = "*"
requests-mock = '*'
rope = '*'
setuptools = "*"
thefuzz = "*"
twine = "*"
unify = '*'
vcrpy = '<5'
wheel = "*"
yapf = '*'

[tool.poetry.group.docs.dependencies]
sphinx_collapse = "==0.1.2"
sphinx-copybutton = "==0.5.1"
sphinx-rtd-theme = "==1.1.1"
sphinx-tabs = "==3.4.0"

[tool.poetry.scripts]
compote = { callable = "idf_component_manager.cli:safe_cli" }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
