interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://components-file.espressif.com/components/espressif/test.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>components/espressif/test.json</Key><RequestId>C82NXKT7PMKJVSZY</RequestId><HostId>q+Lt67hvxHP4ZbEMRv4NuahU/PWcsJOet4YtNi4rMw9/75eXkJW/ACFuUyfsbvPd0dR/tryjBx0=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
    status:
      code: 404
      message: Not Found
version: 1
