interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://components-file.espressif.com/components/espressif/mdns.json
  response:
    body:
      string: '{"versions": [{"issues": "", "uploader": "espressif", "maintainers":
        [], "version": "1.2.0", "dependencies": [{"spec": ">=5.0", "is_public": false,
        "namespace": null, "source": "idf", "name": null}], "discussion": "", "created_at":
        "2023-07-04T08:30:19.497730+00:00", "targets": [], "downloads_total": 0, "yanked_at":
        null, "documentation": "", "url": "959dca73-914a-4f16-97e1-72245897c165.tgz",
        "license": {"url": "959dca73-914a-4f16-97e1-72245897c165/license.txt", "name":
        "Apache-2.0"}, "examples": [], "docs": {"changelog": "959dca73-914a-4f16-97e1-72245897c165/changelog.md",
        "readme": "959dca73-914a-4f16-97e1-72245897c165/readme.md"}, "component_hash":
        "53b22a3b01d0b61180369a5dab00e271f1e725164b6affbc73af85e80b043658", "yanked_message":
        null, "description": "mDNS", "exclusion_list": ["**/__pycache__", "**/*.pyc",
        "**/*.pyd", "**/*.pyo", "**/.DS_Store", "**/.git/**/*", "**/.svn/**/*", "**/dist/**/*",
        "**/build/**/*", "**/managed_components/**/*", "**/dependencies.lock", "**/.github/**/*",
        "**/.gitlab-ci.yml", "**/.idea/**/*", "**/.vscode/**/*", "**/.settings/**/*",
        "**/sdkconfig", "**/sdkconfig.old", "**/.component_hash"], "repository": "",
        "tags": [], "homepage": "https://github.com/espressif/esp-protocols/tree/master/components/mdns"},
        {"issues": "", "uploader": "espressif", "maintainers": [], "version": "1.1.0",
        "dependencies": [{"spec": ">=5.0", "is_public": false, "namespace": null,
        "source": "idf", "name": null}], "discussion": "", "created_at": "2023-05-10T08:15:05.020706+00:00",
        "targets": [], "downloads_total": 114837, "yanked_at": null, "documentation":
        "", "url": "953cc705-2c8c-4ede-8ed4-6a990eb79b99.tgz[...]
