interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://components-file.espressif.com/components/test_component_manager/non-existent.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>components/test_component_manager/non-existent.json</Key><RequestId>P2V0WAN9V327SX57</RequestId><HostId>4/ZbnVvZp4pHiymwT7M7yuFiPYLfdyXsGmymbZASEiAfHdI4P9q5UOu8k2hYZbuEHVxXpWROvQRM0UWfmcBiAz5XXhpVMB3e</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
    status:
      code: 404
      message: Not Found
version: 1
