interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://components-file.espressif.com/components/test_component_manager/non-existent.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>components/test_component_manager/non-existent.json</Key><RequestId>2Q9Q7TDYV3N4P1EM</RequestId><HostId>BCkay/naKEMCvrHCuElDZ/izfXb9cECGXqgYL1TbWj529jiIGEYH2QMV5xRoZWyIQehV2/+6YKbqqKlbNHIzBA==</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
    status:
      code: 404
      message: Not Found
version: 1
