interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://components-file.espressif.com/components/espressif/test.json
  response:
    body:
      string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>components/espressif/test.json</Key><RequestId>501D0BR1BWTJB9KB</RequestId><HostId>rSAilUF073D5FJeE9DQzE/BnHHfzwzDubvPAh+UglGWP+nG6xsGNIry6HHbw20TLiI1HxyoK+nY=</HostId></Error>'
    headers:
      Content-Type:
      - application/xml
    status:
      code: 404
      message: Not Found
version: 1
